---
layout: default
---
<a href="{{ "/" | relative_url }}">{{ site.theme_config.back_home_text }}</a>

<header>
  <img src="./assets/1.png" height="150" width="150" style="float: left;margin-right: 15px;">
  <h1 style="padding-top: 47px;">{{ site.theme_config.home.title_blog }}</h1>
</header>
<br>
<p>
Wait...what is a GIS Developer?

You know when you are listening to someone explain something and they breaze over seemingly simple things but you have no idea what they are talking about?

Thats where these blog posts should help. I will go down those rabbit trails and hopefully help someone out!
</p>

{% include post_list.html %}
