---
layout: default
---

<a href="{{ "/" | relative_url }}">{{ site.theme_config.back_home_text }}</a>
<br>
<br>
<img src="./assets/1.png" height="150" width="150" style="float: left;margin-right: 15px;">
<h1 class="post-title" style="text-align: center;
">{{ page.title }}</h1><br>
{% include date_and_social_share.html %}
<br>
{{ content }}


{% if site.theme_config.show_footer == true %}
  <footer>
    <div class="dashed"></div>
    {% include horizontal_list.html collection=site.data.home.footer_entries %}
  </footer>
{% endif %}